#!/bin/bash

################################################################################
# Source all the funcers
################################################################################
BASH_HOME="/ALL/dotfiles"
for i in $(ls -a $BASH_HOME/.func_*) ; do
  . $i
done
